section > div {
  margin: 0.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media screen and (min-width: 568px) {
  section > div {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  section > div {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  section > div {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.item {
  position: relative;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.65);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

.item:hover, .item:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 3px 15px 3px rgba(255, 255, 255, 0.65);
          box-shadow: 0px 3px 15px 3px rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.item .arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../assets/arrow.svg") no-repeat center;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 0.5rem;
}

.item .arrow:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.item .arrow:focus, .item .arrow.is-selected {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.item .arrow > #optionsList {
  display: none;
  position: absolute;
  padding: 2rem 0 0;
}

.item .arrow:focus #optionsList {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: rotateX(180deg) translate(-1rem, 3rem);
          transform: rotateX(180deg) translate(-1rem, 3rem);
  -webkit-animation: show-dropdown 400ms ease forwards;
          animation: show-dropdown 400ms ease forwards;
  z-index: 1000;
}

.item .arrow:focus #optionsList .option {
  background: #000;
  color: aqua;
}

.resources-list header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#svgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 100%;
  min-height: 100%;
  background-color: #101010;
  -webkit-animation: remove 2s ease forwards 4s;
          animation: remove 2s ease forwards 4s;
}

#svgContainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

svg path:nth-child(1) {
  stroke-dasharray: 317.6551513671875px;
  stroke-dashoffset: 317.6551513671875px;
  -webkit-animation: letter-anim 1.2s ease forwards;
          animation: letter-anim 1.2s ease forwards;
}

svg path:nth-child(2) {
  stroke-dasharray: 183.2314453125px;
  stroke-dashoffset: 183.2314453125px;
  -webkit-animation: letter-anim 1.2s ease forwards 0.2s;
          animation: letter-anim 1.2s ease forwards 0.2s;
}

svg path:nth-child(3) {
  stroke-dasharray: 276.385986328125px;
  stroke-dashoffset: 276.385986328125px;
  -webkit-animation: letter-anim 1.2s ease forwards 0.4s;
          animation: letter-anim 1.2s ease forwards 0.4s;
}

svg path:nth-child(4) {
  stroke-dasharray: 265.8014831542969px;
  stroke-dashoffset: 265.8014831542969px;
  -webkit-animation: letter-anim 1.2s ease forwards 0.6s;
          animation: letter-anim 1.2s ease forwards 0.6s;
}

svg path:nth-child(5) {
  stroke-dasharray: 313.1064453125px;
  stroke-dashoffset: 313.1064453125px;
  -webkit-animation: letter-anim 1.2s ease forwards 0.8s;
          animation: letter-anim 1.2s ease forwards 0.8s;
}

svg path:nth-child(6) {
  stroke-dasharray: 256.27374267578125px;
  stroke-dashoffset: 256.27374267578125px;
  -webkit-animation: letter-anim 1.2s ease forwards 1.2s;
          animation: letter-anim 1.2s ease forwards 1.2s;
}

svg path:nth-child(7) {
  stroke-dasharray: 251.16314697265625px;
  stroke-dashoffset: 251.16314697265625px;
  -webkit-animation: letter-anim 1.2s ease forwards 1.4s;
          animation: letter-anim 1.2s ease forwards 1.4s;
}

svg path:nth-child(8) {
  stroke-dasharray: 457.1547546386719px;
  stroke-dashoffset: 457.1547546386719px;
  -webkit-animation: letter-anim 1.2s ease forwards 1.6s;
          animation: letter-anim 1.2s ease forwards 1.6s;
}

svg path:nth-child(9) {
  stroke-dasharray: 321.34588623046875px;
  stroke-dashoffset: 321.34588623046875px;
  -webkit-animation: letter-anim 1.2s ease forwards 1.8s;
          animation: letter-anim 1.2s ease forwards 1.8s;
}

svg path:nth-child(10) {
  stroke-dasharray: 279.06451416015625px;
  stroke-dashoffset: 279.06451416015625px;
  -webkit-animation: letter-anim 1.2s ease forwards 2s;
          animation: letter-anim 1.2s ease forwards 2s;
}

svg path:nth-child(11) {
  stroke-dasharray: 321.3474426269531px;
  stroke-dashoffset: 321.3474426269531px;
  -webkit-animation: letter-anim 1.2s ease forwards 2.2s;
          animation: letter-anim 1.2s ease forwards 2.2s;
}

svg path:nth-child(12) {
  stroke-dasharray: 394.7510070800781px;
  stroke-dashoffset: 394.7510070800781px;
  -webkit-animation: letter-anim 1.2s ease forwards 2.4s;
          animation: letter-anim 1.2s ease forwards 2.4s;
}

svg path:nth-child(13) {
  stroke-dasharray: 313.1078186035156px;
  stroke-dashoffset: 313.1078186035156px;
  -webkit-animation: letter-anim 1.2s ease forwards 2.6s;
          animation: letter-anim 1.2s ease forwards 2.6s;
}

svg path:nth-child(14) {
  stroke-dasharray: 183.231201171875px;
  stroke-dashoffset: 183.231201171875px;
  -webkit-animation: letter-anim 1.2s ease forwards 2.8s;
          animation: letter-anim 1.2s ease forwards 2.8s;
}

.loading-in {
  -webkit-animation: load-in 1s ease forwards;
          animation: load-in 1s ease forwards;
}

@-webkit-keyframes letter-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes letter-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes remove {
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -500;
  }
}

@keyframes remove {
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -500;
  }
}

@-webkit-keyframes load-in {
  from {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes load-in {
  from {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes show-dropdown {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-dropdown {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
