@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}

:root {
  min-width: 100%;
  min-height: 100%;
}

body {
  padding: 1rem;
  font-family: Roboto;
  /* Gradient pulled from: https://www.gradientmagic.com/ */
  background: -webkit-gradient(linear, right top, left bottom, from(#950a9b), color-stop(9%, #950a9b), color-stop(9%, #781088), color-stop(13%, #781088), color-stop(13%, #b203ae), color-stop(32%, #b203ae), color-stop(32%, #5b1775), color-stop(42%, #5b1775), color-stop(42%, #20244f), color-stop(46%, #20244f), color-stop(46%, #3d1e62), color-stop(70%, #3d1e62), color-stop(70%, #032b3c), to(#032b3c));
  background: linear-gradient(to bottom left, #950a9b 0%, #950a9b 9%, #781088 9%, #781088 13%, #b203ae 13%, #b203ae 32%, #5b1775 32%, #5b1775 42%, #20244f 42%, #20244f 46%, #3d1e62 46%, #3d1e62 70%, #032b3c 70%, #032b3c 100%);
}

ul, ol {
  list-style: none;
}

button, input[type='submit'], input[type="text"] {
  background: none;
  border: none;
  outline: none;
}

input[type="text"] {
  border-bottom: 1px white solid;
}

#mainHeader h1 {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0 0 5px black;
}

h1, h2, h3, h4, h5, h6 {
  color: #206f94;
  font-family: "Roboto Mono", Roboto;
}

.sub-header {
  font-size: 1rem;
  color: #2f9ed2;
}

.sub-header.sh-bold {
  font-weight: bold;
}
