@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto&display=swap');

$prim-grad-color: #3c0b42;
$secd-grad-color: #41015f;
$prim-color: #005780;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	min-width: 100%;
	min-height: 100%;
}

body {
	font-family: Roboto;
	background: linear-gradient(to bottom right, $prim-grad-color, $secd-grad-color) no-repeat;
}

/* I don't want to bother adding the p-1 class to body every time. */
body, .p-1 {
	padding: 1rem;
}

#mainHeader {
	font-size: 5rem;
	font-weight: 700;
	/* Hurts to look at - make it so main header pops out without killing people's eyes */
	text-shadow: 0 0 5px darken($prim-color, 50%);
}

h1, h2, h3, h4, h5, h6 {
	color: $prim-color;
	font-family: "Roboto Mono", Roboto;
}
/* TODO: Tweak font sizes */
/* h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
} */

.sub-header {
	font-size: 1rem;
	color: lighten($prim-color, 15%)
}

.flex {
	display: flex;
	flex-flow: row wrap;
	&.just-cont-btwn {
		justify-content: space-between;
	}
	&.just-cont-around {
		justify-content: space-around;
	}
}
