@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto&display=swap');

$prim-color: #206f94;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none !important;
	}
}

:root {
	min-width: 100%;
	min-height: 100%;
}

body {
	padding: 1rem;
	font-family: Roboto;
	/* Gradient pulled from: https://www.gradientmagic.com/ */
	background: linear-gradient(to bottom left, rgb(149, 10, 155) 0%, rgb(149, 10, 155) 9%,rgb(120, 16, 136) 9%, rgb(120, 16, 136) 13%,rgb(178, 3, 174) 13%, rgb(178, 3, 174) 32%,rgb(91, 23, 117) 32%, rgb(91, 23, 117) 42%,rgb(32, 36, 79) 42%, rgb(32, 36, 79) 46%,rgb(61, 30, 98) 46%, rgb(61, 30, 98) 70%,rgb(3, 43, 60) 70%, rgb(3, 43, 60) 100%)
}

ul, ol {
	list-style: none;
}

button, input[type='submit'], input[type="text"] {
	background: none;
	border: none;
	outline: none;
}

input[type="text"] {
	border-bottom: 1px white solid;
}

#mainHeader {
	h1 {
		font-size: 5rem;
		font-weight: 700;
		text-shadow: 0 0 5px darken($prim-color, 50%);
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $prim-color;
	font-family: "Roboto Mono", Roboto;
}

.sub-header {
	font-size: 1rem;
	color: lighten($prim-color, 15%);
	&.sh-bold {
		font-weight: bold;
	}
}

// Leaving this commented out until I need to use it in multiple places
// because currently I only need flexbox in one place.
// .flex {
// 	display: flex;
// 	flex-flow: row wrap;
// 	&.just-cont-btwn {
// 		justify-content: space-between;
// 	}
// 	&.just-cont-around {
// 		justify-content: space-around;
// 	}
// 	&.align-items-cent {
// 		align-items: center;
// 	}
// }
